<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!--Please refer to developer's portal for access token.-->
    <add key="AccessToken" value="#access_token#"/>

    <!--Required to POST batch request-->
    <add key="OpenApiBaseUrl" value="https://gateway.saxobank.com/sim/openapi"/>
  </appSettings>
</configuration>