<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--Please refer to developer's portal (https://developer.saxobank.com/sim/openapi/portal/) for access token.-->
    <add key="AccessToken" value="#access_token#"/>
    
    <add key="OpenApiBaseUrl" value="https://gateway.saxobank.com/sim/openapi"/>
    
    <add key="StreamingBaseUrl" value="https://streaming.saxotrader.com/sim/openapi"/>
  </appSettings>
</configuration>