<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.net>
        <defaultProxy enabled="true">
            <proxy usesystemdefault="True"/>
        </defaultProxy>
    </system.net>
  <appSettings>
    <!--Before you get started, your application must have been registered with Saxo Bank A/S and you must have received the below settings.-->
    <add key="AppKey" value="#application_key#"/>
    <add key="AppSecret" value="#application_secret#"/>
    <add key="AppUrl" value="#application_url#"/>
    <add key="AuthenticationUrl" value="https://sim.logonvalidation.net"/>
    <add key="OpenApiBaseUrl" value="https://gateway.saxobank.com/sim/openapi"/>
  </appSettings>
</configuration>
