<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <system.net>
        <defaultProxy enabled="true">
            <proxy usesystemdefault="True"/>
        </defaultProxy>
    </system.net>
  <appSettings>
    <!--Before you get started, your application must be registered with Saxo Bank A/S and get below settings.-->
    <add key="AppKey" value="#Application_Key#"/>
    <add key="AppSecret" value="#Application_Secret#"/>
    <!--Required for Application Authentication & Authorization-->
    <add key="AppUrl" value="#Application_Url#"/>
    
    <add key="AuthenticationUrl" value="https://sim.logonvalidation.net"/>
    <!--Base Url for calling OpenApi-->
    <add key="OpenApiBaseUrl" value="https://gateway.saxobank.com/sim/openapi"/>

    <!--Below setting needed for CertBased Applications only-->
    <add key="ClientCertificateSerialNumber" value="‎#ClientCert_Serial_Number#"/>
    <add key="SaxoBankCertificateSerialNumber" value="#SaxoCert_Serial_Number#"/>
    <add key="UserId" value="#User_Id#"/>
    <add key="PartnerIdpUrl" value="#Partner_IdpUrl#"/>
  </appSettings>
</configuration>
